
body {
  margin: 0;
  font-family: Arial, sans-serif;
  /*background-color: #f9f9f9;*/
  color: #333;
  background: url("waves.jpg")  /*主页面背景图*/
                no-repeat center center fixed;
                /*兼容浏览器版本*/
                -webkit-background-size: cover;
                -o-background-size: cover;                
                background-size: cover;
} 
.image-with-title {
  display: flex;
  justify-content: center;
  align-items: center; /* 垂直居中对齐 */
}

.image {
  max-width: 100%; /* 确保图片不会超出容器 */
  height: auto;    /* 保持宽高比 */
   /* 标题与图片之间的间距 */
}

.title {
  font-size: 2em; /* 根据需要调整字体大小 */
  text-align: center;
  font-style: inherit;
  font-weight: bold;
  color: #fefdff;
}
#app {
  
   max-width: 100%;
  margin: 0%;

 
  /*
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  */
}
.container {
max-width: 100%;
margin-left: 50px;
margin-right: 50px;
background-color: #f6f1db;
border-radius: 8px;
}
h1 {
font-size: 2em;
color: #00b7ff;
margin-bottom: 20px;
}
h2 {
margin: 10px;
font-size: 2em;
text-align: left;
color: #2981e6;
margin-bottom: 20px;
}

/* Form */
.upload-form {
display: flex;
flex-direction: column;
align-items: center;
}

/* File Input */
.file-input {
width: 200px;
padding: 10px;
margin-bottom: 10px;
border-radius: 4px;
transition: border-color 0.3s ease;
}

.file-input:focus {
outline: none;
border-color: #007bff;
}

/* Submit Button */
.submit-button {
padding: 4px 22px;
background-color: #007bff8e;
color: rgb(255, 255, 255);
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.submit-button:hover {
background-color: #0056b3;
}

/* Message Display */
.message {
margin-top: 20px;
padding: 10px;
background-color: #d4edda;
border: 1px solid #c3e6cb;
border-radius: 4px;
color: #155724;
font-size: 0.9em;
text-align: center;
}

.message.error {
background-color: #f8d7da;
border-color: #f5c6cb;
color: #721c24;
}
/**/
/*外按钮大小颜色*/
.dropbtn {
background-color: #4569FF;
color: white;
padding: 18px;
font-size: 18px;
border-radius: 18px;
border: none;
cursor: pointer;

}   

/*鼠标靠近后颜色*/
.dropbtn:hover{
  background-color: #007bffcf;
}

/*按钮等距*/
.out-btn-div{
  display: flex;
  text-align: center;
}
/*按钮等距*/
.btn-div{
  flex : 1;
}
body,div{
box-sizing:border-box;
margin:0;
padding:0;
}

/*盒子div垂直居中*/
.fa{
  width:100vw;
  height: 100vh;
  display:flex;
  justify-content:center;
  
  }
/*内层盒子垂直水平居中*/
.outside{
  background-color: #fffef3f5;   /*主体背景颜色*/
  align-items:center;
  display:flex;
  justify-content:center;
  width: 2000px;
}


.son{
 width:900px;
 height: 900px;
}


/*弹窗样式*/
.mask {
  background-color: #000;
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.pop {
  background-color: #ffffff;
  position: fixed;
  top: 100px;
  left: 300px;
  width: calc(100% - 600px);
  height: calc(100% - 200px);
  z-index: 2;
  border-radius: 10px;
}

/*内按钮样式*/
.btn {
  background-color: #00b1fc;
  border-radius: 4px;
  border: 1px solid blue;
  padding:  16px;
  border: 1px;
  color: white;
  font-size: 0.9em;
}
.btn:hover{
  background-color: #006fb4;
}

/*关闭按钮样式*/
.close-btn {
  background-color: #ff7878;
  border-radius: 4px;
  border: 1px solid blue;
  padding:  14px;
  border: 1px;
  color: white;
  float: right;
}
.close-btn:hover{
  background-color: #ff0000;
}
.close-span{
  font-size: 28px
}

li{
  list-style-type: none;
  height: 70px;
}